body {
    background-color: rgb(236, 236, 222);
    color: #000000;
    font-family: monospace;
    margin: 0;
    overflow: auto;
    padding: 0;
    scroll-behavior: smooth;
    /* text-transform: uppercase; */
}

.siphon {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 80%;
    padding: 10px;
}

.sonoma {
    background-color: rgb(169, 56, 56);
    border-radius: 10px;
    box-sizing: border-box; 
    color: rgb(252, 217, 157);
    display: flex;
    flex-direction: row;
    font-size: small;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.mazda {
    align-self: flex-start;
    font-style: normal;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 20px;
}

.chimera {
    background-color: #297cb3;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box; /* ensures padding doesn't affect box size */
    color: rgb(252, 217, 157);
    display: flex;
    flex-direction: column;
    height: 500px;
    font-weight: bold;
    font-size: small;
    margin-bottom: 30px;
    overflow-y: auto;
    padding: 15px 15px 0 15px;
    width: 100%;
}

.chimera::-webkit-scrollbar {
    width: 0;
}

.my-bubble {
    align-self: flex-end;
    background-color: rgb(169, 56, 56);
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin-bottom: 8px;
    max-width: 50%;
    padding: 5px;
    width: auto;
}

.my-bubble span {
    float: left;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.my-bubble small {
    color: #72d33d;
    font-size: xx-small;
    font-weight: bolder;
    float: right;
}

.your-bubble {
    align-self: flex-start;
    background-color: rgb(140, 44, 44);
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: rgb(252, 217, 157);
    margin-bottom: 8px;
    max-width: 50%;
    padding: 5px;
    width: auto;
}

.your-bubble span {
    float: left;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.your-bubble small {
    color: #72d33d;
    font-size: xx-small;
    font-weight: bolder;
    float: right;
}

.mirage {
    width: 100%;
}

.mirage input {
    background-color: rgb(252, 217, 157);
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: #297cb3;
    font-weight: bold;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.typhoon {
    width: 50%;
}

.typhoon input {
    background-color: rgb(169, 56, 56);
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    color: rgb(252, 217, 157);
    font-weight: bold;
    padding: 8px;
    width: 100%;
}