body {
    animation: fadeIn 0.5s ease-in-out;
    align-items: center;
    background-color: rgb(236, 236, 222);
    display: flex;
    font-family: monospace;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.siphon {
    animation: fadeIn 0.5s ease-in-out;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 50px auto;
    /* max-width: 80%; */
    max-width: 600px;
    padding: 10px;
    width: 90%;
}

.sonoma {
    animation: bubbleAppear 1s ease-in-out;
    align-items: center;
    background-color: #297cb3;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    color: rgb(252, 217, 157);
    display: flex;
    flex-direction: row;
    font-size: small;
    height: 30px;
    justify-content: flex-start;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.status, .online {
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    height: 10px;
    margin-right: 10px;
    margin-left: 5px;
    transition: background-color 0.5s ease;
    width: 10px;
}

.online {
    background-color: #72d33d;
}

.status {
    background-color: rgb(169, 56, 56);
}

.mazda {
    align-self: center;
    font-style: normal;
    font-size: 15px;
    font-weight: bolder;
}

.chimera {
    animation: bubbleAppear 0.5s ease-in-out;
    background-color: rgb(252, 217, 157);
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: rgb(252, 217, 157);
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 10px 15px 10px 15px;
    width: 100%;
    height: 700px;
}

.chimera::-webkit-scrollbar {
    width: 0;
}

.my-bubble, .your-bubble {
    animation: bubbleAppear 0.5s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    user-select: none;
    width: fit-content;
}

.my-bubble {
    align-self: flex-end;
    background-color: rgb(169, 56, 56);
}

.your-bubble {
    align-self: flex-start;
    background-color: rgb(140, 44, 44);
}

.my-bubble span, .your-bubble span {
    float: left;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 3px;
    user-select: none;
}

.my-bubble small, .your-bubble small {
    color: #72d33d;
    font-size: xx-small;
    font-weight: bolder;
    float: right;
    user-select: none;
}

.close-btn {
    align-self: center;
    animation: bubbleAppear 0.5s ease-in-out;
    background-color: #297cb3;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    color: rgb(252, 217, 157);
    margin-left: 10px;
    transition:transform 0.5s ease;
    user-select: none;


}

.reply {
    animation: bubbleAppear 1s ease-in-out;
    display: flex;
    background-color: #297cb3;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    transition: transform 1s ease;
    user-select: none;
    width: fit-content;
}

.reply:hover {
    transform: scale(1.1);
}

.broker{
    color: #72d33d;
}

.reply .broker, .reply .bank {
    font-size: small;
}

.mirage {
    animation: bubbleAppear 1s ease-in-out;
    width: 100%;
}

.typhoon {
    animation: bubbleAppear 1s ease-in-out;
    width: 50%;
}

.mirage input, .typhoon input {
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    color: rgb(252, 217, 157);
    font-weight: bold;
    width: 100%;
}

.mirage input {
    background-color: #297cb3;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
}

.typhoon input {
    background-color: rgb(169, 56, 56);
    padding: 8px;
    transition: transform 1s ease;
} 

.typhoon input:hover {
    transform: scale(1.1)
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bubbleAppear {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}